div {
    width: 606px;
    background-color: green;
    font-size: 19mm;
}

#blok_sliusarenko_1:hover {
    background-color: #d4af37;
}

#blok_sliusarenko_2 {
    background-color: #C0C0C0;
}

#blok_sliusarenko_3 {
    background-color: #2b50c8;
}